---
title: DoCSoc SF
---

<header>
  <%= image_tag 'docsoc-sf-logo.svg', :width => '120' %>
  <h1>
    DoCSoc<br/>
    Software Foundation
  </h1>
</header>

<%= partial(:getting_started) %>
<h2>Featured Projects</h2>
<div id="featured-projects"></div>
